:root {
  --main-bg-color: #759eff;
  --secondary-bg-color: #fa5757;
  --white: #FFFFFF;
  --progress-bg-color: #eeeeee;
}

* {
  box-sizing: border-box;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

h1,h2,h3 {
  font-family: 'Rubik', sans-serif;
}

.button-utility {
  display: block;
  margin: 0 auto;
  padding: 1em 1.8em;
  border-radius: .8em;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--white);
}

p {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  padding: 0 1.5em;
}

figure {
  margin: 0;
}

.header {
  border: 1px solid red;
}

.header-flex {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-navigation {
  display: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

/* Main section */

.main-grid {
  height: 85vh;
  display: grid;
  justify-items: center;
  border: 1px solid red;
  margin-bottom: 1.5em;
}

.main-border {
  width: 200px;
  height: 200px;
  border-radius: 49% 51% 49% 51% / 26% 27% 73% 74% ;
  background: var(--main-bg-color);
  
}

.main-grid-left h1 {
  font-size: 1.8em;
  text-align: center;
  line-height: 1.7em;
  font-weight: bolder;
}

/* Section about */
/* 310*22 */
.bar-container {
  width: 322px;
  height: 22px;
  display: flex;
}

.text {
  width: 50px;
  background-color: var(--main-bg-color);  
}

.progress {
  width: 80%;
  background-color: #3b73f6;
}

.progress-background {
  width: auto;
  background-color: var(--progress-bg-color);
}

.progress-background p {
  display: inline;
  text-align: end;
}

.percentage {
  width: 40px;
  justify-self: flex-end;
}

.algo {
  background: #3b73f6;
}

/* Section Projects */
.itemCarrouselTarjeta {
  
}

.itemCarrouselTarjeta img {
  width: 100%;
}
