:root {
  --main-bg-color: #759eff;
  --secondary-bg-color: #fa5757;
  --white: #FFFFFF;
  --progress-bg-color: #eeeeee;
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;
  --ads: #2583ff;
}

* {
  box-sizing: border-box;
}

h1,h2,h3 {
  font-family: 'Rubik', sans-serif;
}

.button-utility {
  display: block;
  margin: 0 auto;
  padding: 1em 1.8em;
  border-radius: .8em;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--white);
}

p,a {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  padding: 0 1.5em;
  max-width: 1100px;
  margin: 0 auto;
}

figure {
  margin: 0;
}

.header {
  /* border: 1px solid sred; */
}

.header-flex {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-navigation {
  display: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

/* Main section */

.main-grid {
  height: 85vh;
  display: grid;
  justify-items: center;
  margin-bottom: 1.5em;
}

.main-border {
  width: 200px;
  height: 200px;
  border-radius: 49% 51% 49% 51% / 26% 27% 73% 74% ;
  background: var(--main-bg-color);
}

.main-grid-left h1 {
  font-size: 1.8em;
  text-align: center;
  line-height: 1.7em;
  font-weight: bolder;
}

/* Section about */
.about-grid-left {
  padding: 1em 0;
}

.about-grid-left p {
  line-height: 2em;
  padding-bottom: 1em;
}

.about-grid-right {
  padding: 2em 0;
}

.bar-container {
  width: 322px;
  height: 22px;
  display: flex;
  margin-bottom: 1em;
}

.text {
  width: 85px;
  background-color: var(--ads);  
  color: var(--white);
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
}

.progress {
  width: 80%;
  background-color: #3b73f6;
}

.progress-background {
  width: auto;
  background-color: var(--progress-bg-color);
}

.progress-1 {
  width: auto;
}

.progress-2 {
  width: 70px;
}

.progress-3 {
  width: 100px;
}

.progress-4 {
  width: 90px;
}

.progress-5 {
  width: auto;
}

.progress-6 {
  width: 70px;
}

.progress-background p {
  display: inline;
  text-align: end;
}

.percentage {
  width: 40px;
  justify-self: flex-end;
}

/* Section Projects */
.projects {
  padding-bottom: 2em;
}
.projects-grid {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.project-template {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 310px;
  max-width: 380px;
  height: 420px;
  /* margin: 50px 30px 0; */
  margin-right: 4em;
  /* background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgb(89 73 30 / 16%); */
}

.projects-grid figure img {
  width: 95%;
}

.projects-right p {
  line-height: 1.8em;
}

.button-project-1 {
  display: inline;
}

.button-project-2 {
  display: inline;
  background-color: var(--main-bg-color);
}

/* Section Contact */
.contact-grid {
  display: grid;
}

.contact-card { 
  display: flex;
  border: 1px solid #ccc;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: .8em;
}

.contact-card-info p:first-child {
  font-weight: bold;
}

.l-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  width: 340px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);
}
.form__title{
  font-weight: 400;
  margin-bottom: 3rem;
}
.form__div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}
.form__button{
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/*Input focus move up label*/
.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

.form__input:focus{
  border: 1.5px solid var(--main-bg-color);
}

/* Footer */
.footer {
  padding: 1em 0;
  background: var(--main-bg-color);
}

.footer p, a {
  color: var(--white);
}

/* Responsive */
@media screen and (min-width: 968px ){
  h2 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.2em;
  }
  /* Header */
  .header {
    height: 70px;
  }
  .header-flex {
    height: 70px;
  }
  .header-flex figure img {
    width: 90px;
  }

  .header-navigation {
    display: block;
  }

  .header-navigation {
    padding: 0;
  }
  .header-navigation li{
    display: inline;
  }

  .header-navigation li a {
    padding-left: 1em;
    color: black;
  }

  .burger-button {
    display: none;
  }
  /* Section main */
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";
    align-items: center;
  }

  .main-grid-left h1 {
    font-size: 2.8em;
  }
  .main-grid-left button {
    padding: 1.2em 3em;
  }

  .main-grid-right {
    grid-area: right;
  }
  
  .main-grid-right .main-border {
    width: 350px;
    height: 350px;
  }
  /* Section about */

  .about {
    padding-bottom: 4em;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 7em;
  }

  .about-grid-left h2 {
    padding-bottom: 1.2em;
  }

  .about-grid-left p {
    padding-bottom: .8em;
    line-height: 1.8em;
  }
  
  .about-grid-right h2 {
    margin-bottom: 1.5em;
  }

  .about-grid-right .bar-container {
    width: 100%;
    height: 28px;
    margin-bottom: 1.2em;
  }

  /* Projects section */
  .projects {
    padding-bottom: 3em;
  }

  .project-template {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 950px;
    max-width: 1100px;
    height: 344px;
    margin-right: 7em;
  }

  /*  */
  .projects-grid figure img {
    width: 90%;
  }

  .projects h2 {
    padding-bottom: 1.2em;
  }
  .projects-right h3 {
    font-size: 1.3em;
  }
  .projects-right p {
    font-size: 1.2em;
    line-height: 1.8em;
    padding-right: 3em;
    margin-bottom: 2em;
  }
  /* Contact */
  .contact {
    padding-bottom: 5em;
  }
  
  .contact h2 {
    padding-bottom: 1.5em;
  }

  .contact-grid {
    grid-template-columns: 400px 1fr;
    gap: 6em;
  }

  .contact-card-info p {
    font-size: 1em;
  }

  .contact-right {
    width: 90%;
  }

  .contact-right form {
    width: 100%;
  }

  .form__div textarea {
    width: 100%;
  }

  .form__div .form__button {
    margin:  0 auto;
  }

  /* Footer */
  .footer p {
    color: var(--white);
    
  }

  .footer-flex {
    display: flex;
    justify-content: center;
  }
  .footer-flex li a {
    padding-left: 2em;
    color: var(--white);
  }
  
  .footer .footer-rights {
    text-align: center;
    color: var(--white);
  }
}